<!DOCTYPE html> 
<html> 
  
<head> 
    <title>Index</title> 
</head> 
  
<body> 
    <p>Coursera</p>
    <p><a href="http://127.0.0.1:8000/api/menu-items">api/menu-items</a></p>
    <br>

    <p>Useful</p>
    <p><a href="http://127.0.0.1:8000/register/">register</a></p>
    <p><a href="http://127.0.0.1:8000/login/">login</a></p>
    <br>

    <p>Extra</p>
    <p><a href="http://127.0.0.1:8000/member-list/">member list</a></p>
    <p><a href="http://127.0.0.1:8000/api-order/">api order</a></p>
    <p><a href="http://127.0.0.1:8000/api-login/">api login</a></p>
    <p><a href="http://127.0.0.1:8000/member-view/">member view</a></p>
    <p><a href="http://127.0.0.1:8000/order-list/">order list</a></p>
</body> 

</html>
